## Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as __init__, __repr__, and __eq__, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

@dataclass
class person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

1. __init__(): Initializes the object and assigns the provided values to the attributes.
2. __repr__(): Provides a string representation of the object.
3. __eq__(): Implements equality comparison between two objects of the class based on their attributes.

In [4]:
per = person('subham', 21, 'SE')
per

person(name='subham', age=21, profession='SE')

In [5]:
per.age

21

In [6]:
@dataclass
class Rectangles:
    width:int
    height:int
    color:str="white"
recentage = Rectangles(12,14)
res = Rectangles(24,45,'Blue')

In [7]:
res.color

'Blue'

In [8]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int
Point=Point(10,4)
Point

Point(x=10, y=4)

In [11]:
# inheritance 

@dataclass
class person:
    name:str
    age:int
@dataclass

class employee(person):
    employee_id:str
    department:str

In [12]:
persons = person('Subham' , 31)
employees = employee('subham', 31 ,'kumar' , 'singh')

In [13]:
employees.name

'subham'

In [69]:
# Nested Dataclasses

@dataclass

class Address:
    street: str
    zip_code :int
    city : str
    state : str
@dataclass
class Person:
    name : str
    age : int
    gender : chr
    father_name : str
    Address:Address

In [73]:
address = Address('12',462023,'mp_Nager','MP')
p1 = Person("subham",12,"male","kumar",address)

In [74]:
p1.Address.city

'mp_Nager'

### dataclasses-after

In [50]:
from dataclasses import dataclass, field

@dataclass(order=True,frozen=False)
class Person:
    sort_index: int = field(init=False, repr=False)
    name: str
    job: str
    age: int
    strength: int = 100

    def __post_init__(self):
        object.__setattr__(self, 'sort_index', self.strength)

    def __str__(self):
        return f'{self.name}, {self.job} ({self.age})'


person1 = Person("Geralt", "Witcher", 30, 99)
person2 = Person("Yennefer", "Sorceress", 25)
person3 = Person("Yennefer", "Sorceress", 25)

print(person1)
print(id(person2))
print(id(person3))
print(person3 == person2)
print(person1 > person2)

Geralt, Witcher (30)
1966017888512
1966017479152
True
False

In [30]:
class Person:
    def __init__(self,name , job , age):
        self.name= name
        self.job = job
        self.age = age

person2 = person("subham", "Data analysis", "30")
person3 = person("kumar" , "SQl developer" , " 12")

print(person2)
print(person3)
print(person3 == person2)

person(name='subham', age='Data analysis', profession='30')
person(name='kumar', age='SQl developer', profession=' 12')
False