## Keywords
***Python is case sensitive***

- Keywords: reserved words, special meanings
- Cannot use as ***variable names***

In [ ]:
# Python has 33 keywords.
import keyword
print(keyword.kwlist)

In [ ]:
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"
unicode
raw_str

In [2]:
# Float – This value is represented by float class. It is a real number with floating point representation.
b = 5.0
b

5.0

In [3]:
# Complex Numbers – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j.
c = 2+4J
c

(2+4j)

In [8]:
print("\n Subham")
print(type("Kumar"))
s = ''' I'm Subham'''
s[8]

 Subham
<class 'str'>

'h'

In [16]:
s = "A string is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. "
f = " ".join(reversed(s))
f
s[0].join("subham")

'sAuAbAhAaAm'

In [18]:
d = "t'm a  \"Subham\""
d

't\'m a  "Subham"'

## List

In [1]:
# Lists are mutable data structures, that means the data inside can be mutated.
''' List is a general data structure widely used in Python programs. They are found in other languages,
 often referred to as dynamic arrays. '''
friends_name: list.__str__ = ["Subham Kumar", "Mohan" ,"Sohan", "Sita","Gita"]

# List with Index No         [    0,             1,        2,      3,     4   ]

friends_name

['Subham Kumar', 'Mohan', 'Sohan', 'Sita', 'Gita']

In [2]:
''''Tuple is a sequence of python objects like list with immutable feature.
 We cannot add or remove an item in tuple.'''
x,y = 3,4
print (x,y)
a,b,c = 10,11,12
print(a,b,c)
print(b)
tuple=('a','b','c','d','e','f')
print(tuple)

3 4
10 11 12
11
('a', 'b', 'c', 'd', 'e', 'f')

In [4]:
'''
A Set is an unordered collection of items. Every element is unique.A Set is created by placing all the
 items (elements) inside curly braces {}, separated by comma.
'''
setA=set([1,5,'hi',7,'Hello'])
print(setA)

# from Stering
print(set("python"))
# create set from list
print(set([1,2,3,4,5,6]))
# from dict
print(set({'a':'b'}))
# from frozen
froze = frozenset(('a','b'))
print(set(froze))

{1, 5, 'Hello', 7, 'hi'}
{'p', 'n', 'y', 'h', 't', 'o'}
{1, 2, 3, 4, 5, 6}
{'a'}
{'b', 'a'}

In [34]:
# print the name with the using of for loop
for friends_names in friends_name:
    print(f"Name {friends_names}")

Name subham Kumar
Name Mohan
Name Sohan
Name Sita
Name Gita

In [87]:
# remove last name from friends list 
unfriend = friends_name.pop()
# remove the second_last name of friend_list
# unfriend = friends_name.pop(2)
print(f"unfriend : {unfriend}")

unfriend : Subham Kumar

In [44]:
# add last_name from friend list
friends_name.append('Moni')
print(f'friends_name: {friends_name}')

friends_name: ['subham Kumar', 'Mohan', 'Sohan', 'Moni', 'Moni']

In [45]:
# print the index number of 2
print(friends_name[2])

Sohan

In [52]:
# remove the specific name of the friend list

print(f"friends_name : {friends_name}")

friends_name : ['subham Kumar', 'Sohan', 'Moni', 'Moni']

In [64]:
# add  the  name of the  friends list with use in the  index position 
friends_name.insert(1, "Ram")
print(friends_name)

['subham Kumar', 'Ram', 'Ram', 'Sohan', 'Moni', 'Moni']

In [72]:
# check the shubham kumar in a friends list ,otherwise print no available in the friend list

if "Subham Kumar" in friends_name:
    print("Yes, Subham kumar in the friends_list ")
else:
    print("No , Subham Kumar in the friends_list")

Yes, Subham kumar in the friends_list

In [82]:
# reverse the name of friends_list 
friends_name.reverse()
print(f"friends_name : {friends_name}")

friends_name : ['Subham Kumar', 'Mohan', 'Sohan', 'Sita', 'Gita']

In [70]:
# count how many friends are in friends_name
print(f"friends_names:  {len(friends_names)}")

friends_names:  4

In [19]:
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]} 
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 

Dict

s = "{} {} {}".format('Geeks', 'For', 'Life')
s
f = "{0:b}".format(165)
f

'10100101'

In [84]:
s = "\110\145\154\154\157"
print(s)

Hello

string formating

In [90]:
# Formatting of Integers
Str = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(Str)
 
# Formatting of Floats
Str = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(Str)

# Rounding off Integers
Str = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(Str)

#  A string can be left() or center(^) justified with the use of format specifiers, separated by a colon(:).  

Str = "|{:<10}|{:^10}|{:>10}|".format('subham','kumarr','singh')
print(Str)

# To demonstrate aligning of spaces
Str = "\n{0:^16} was founded in {1:<4}!".format("Subham",2001)
print(Str)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17
|subham    |  kumarr  |     singh|

     Subham      was founded in 2001!

In [1]:
# try:
#     file = open("./product.sql")
# finally:
#     file.close()

Dictionary
- Dictionaries in python are unordered  collection of items,a dictionary is closed by curly brackets. Dictionary hold pair of Key and Value (key:value). Key and value are separated by (:) , whereas each item in dictionary is separated by comma (,).

In [1]:
org = {'a' : 1 , 'b': 21, 'c': [12,3,34,54,45]}

org1 =org.copy()

org1['b'] = 3435

print(f'{org1= }')

# id() function will tell us where in memory data are stored
print(id(org))

print(id(org1))

org1= {'a': 1, 'b': 3435, 'c': [12, 3, 34, 54, 45]}
2259746995136
2259746731776

In [3]:
org.keys()

dict_keys(['a', 'b', 'c'])

deep function

In [15]:
from copy import deepcopy
original = {'a': [1,2,3], 'b': 2, 'c': [1, 2, 3]}
copied = deepcopy(original)
copied

{'a': [1, 2, 3], 'b': 2, 'c': [1, 2, 3]}

Range Function

In [107]:
# The range() function returns a sequence of numbers between the give range.

# create a sequence of numbers from 0 to 3
num = range(4)

# iterating through the sequence of numbers
for i in num:
    print(i)

0
1
2
3

In [110]:
# numbers from 2 to 10 with increment 3 between numbers
num = range(2 ,100, 2)
print(list(num))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

setattr() </br>
The setattr() function takes three parameters: </br>
•	object - object whose attribute has to be set</br>
•	name - attribute name</br>
•	value - value given to the attribute

In [112]:
# setattr() function sets the value of the attribute of an object.
class Student:
  marks = 88
  name = 'Sheeran'

person = Student()

# set value of name to Adam
setattr(person, 'name', 'Adam')

print(person.name)

# set value of marks to 78
setattr(person, 'marks', 78)

print(person.marks)

Adam
78

- Python is a case sensitive programming language

In programming, a keyword is a word that is reserved by a program because the word has a special meaning. Keywords can be commands or parameters. Every programming language has a set of keywords that cannot be used as variable names

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Identifiers  
A Python identifier is a name used to identify a variable, function, class, module or other object.

Rules for setting Identifiers

- can only start with an alphabet or _
- Followed by 0 or more letter,_ and digits
- keywords cannot be used as an identifiers

In [129]:
# Create set() for a custom iterable object
class number:
    def __init__(self):
        self.max = max
    def __iter__(self):
        self.num = 0
        return self
    def __next__(self):
        if(self.num >= self.max):
              raise StopIteration
        self.num += 1
        return self.num
    
# print_num is an iterable
print_num = number(5)

# creating a set
print(set(print_num))

TypeError: number.__init__() takes 1 positional argument but 2 were given

In [132]:
# Sort the list using sorted() having a key function
def take_second(elem):
    return elem[1]
random = [(2,3),(3,4)]
print(sorted(random))

[(2, 3), (3, 4)]

In [144]:
# write a table 2 and 10
def table(start , stop):
    for x in (start , stop+1):
        for y in range(start , stop+1):
            print(str(x*y), end=" " )
        print()
table(1,10)

1 2 3 4 5 6 7 8 9 10
11 22 33 44 55 66 77 88 99 110

In [1]:
num = int(input("Enter the number : "))

for i in range(1, 11):
    print("%d * %d = %d" % (num , i , num*i))

18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180

In [27]:
num = int(input("Enter the number : "))
i = 1
while(i<=10):
    
    print("%d * %d = %d" %(num, i , num*i))
    i=i+1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [28]:
num = int(input("Enter the number : "))
i = 1
while(i<=10):
    num2 = num*i
    print(num2)
    i=i+1

16
32
48
64
80
96
112
128
144
160

In [ ]:
n = 12
i=1
while(i<=10):
    c = n*i
    print(n ,"*" , i , "=" , n*i )

In [11]:
b = 12
a=0
while(a<=11):
    a=a+1
    c+=1
    print( str(b)+' x '+str(a)+' ='+str(c))

print('done!!!!')

12 x 1 =13
12 x 2 =14
12 x 3 =15
12 x 4 =16
12 x 5 =17
12 x 6 =18
12 x 7 =19
12 x 8 =20
12 x 9 =21
12 x 10 =22
12 x 11 =23
12 x 12 =24
done!!!!

In [25]:
for i in range(1, 11):
    print(12,"x" ,i ,"=", 12*i )

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [3]:
for i in range(1 ,11):
    print("\n")
    for j in range(1,11):
        print(i*j , end='\t')

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

In [10]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i*j , end="\t")
    print("\n")
print("Done")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

Done

In [22]:
for num in range(1, 101):
    for num2 in range(1, 11):
        print(num*num2 , end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100
11	22	33	44	55	66	77	88	99	110
12	24	36	48	60	72	84	96	108	120
13	26	39	52	65	78	91	104	117	130
14	28	42	56	70	84	98	112	126	140
15	30	45	60	75	90	105	120	135	150
16	32	48	64	80	96	112	128	144	160
17	34	51	68	85	102	119	136	153	170
18	36	54	72	90	108	126	144	162	180
19	38	57	76	95	114	133	152	171	190
20	40	60	80	100	120	140	160	180	200
21	42	63	84	105	126	147	168	189	210
22	44	66	88	110	132	154	176	198	220
23	46	69	92	115	138	161	184	207	230
24	48	72	96	120	144	168	192	216	240
25	50	75	100	125	150	175	200	225	250
26	52	78	104	130	156	182	208	234	260
27	54	81	108	135	162	189	216	243	270
28	56	84	112	140	168	196	224	252	280
29	58	87	116	145	174	203	232	261	290
30	60	90	120	150	180	210	240	270	300
31	62	93	124	155	186	217	248	279	310
32	64	96	128	160	192	224	256	288	320
33	66	99	132	165	198	231	264	297	330
34	68	102	136	170	204	238	272	306	340
35	70	105	140	175	210	245	280	315	350
36	72	108	144	180	216	252	288	324	360
37	74	111	148	185	222	259	296	333	370
38	76	114	152	190	228	266	304	342	380
39	78	117	156	195	234	273	312	351	390
40	80	120	160	200	240	280	320	360	400
41	82	123	164	205	246	287	328	369	410
42	84	126	168	210	252	294	336	378	420
43	86	129	172	215	258	301	344	387	430
44	88	132	176	220	264	308	352	396	440
45	90	135	180	225	270	315	360	405	450
46	92	138	184	230	276	322	368	414	460
47	94	141	188	235	282	329	376	423	470
48	96	144	192	240	288	336	384	432	480
49	98	147	196	245	294	343	392	441	490
50	100	150	200	250	300	350	400	450	500
51	102	153	204	255	306	357	408	459	510
52	104	156	208	260	312	364	416	468	520
53	106	159	212	265	318	371	424	477	530
54	108	162	216	270	324	378	432	486	540
55	110	165	220	275	330	385	440	495	550
56	112	168	224	280	336	392	448	504	560
57	114	171	228	285	342	399	456	513	570
58	116	174	232	290	348	406	464	522	580
59	118	177	236	295	354	413	472	531	590
60	120	180	240	300	360	420	480	540	600
61	122	183	244	305	366	427	488	549	610
62	124	186	248	310	372	434	496	558	620
63	126	189	252	315	378	441	504	567	630
64	128	192	256	320	384	448	512	576	640
65	130	195	260	325	390	455	520	585	650
66	132	198	264	330	396	462	528	594	660
67	134	201	268	335	402	469	536	603	670
68	136	204	272	340	408	476	544	612	680
69	138	207	276	345	414	483	552	621	690
70	140	210	280	350	420	490	560	630	700
71	142	213	284	355	426	497	568	639	710
72	144	216	288	360	432	504	576	648	720
73	146	219	292	365	438	511	584	657	730
74	148	222	296	370	444	518	592	666	740
75	150	225	300	375	450	525	600	675	750
76	152	228	304	380	456	532	608	684	760
77	154	231	308	385	462	539	616	693	770
78	156	234	312	390	468	546	624	702	780
79	158	237	316	395	474	553	632	711	790
80	160	240	320	400	480	560	640	720	800
81	162	243	324	405	486	567	648	729	810
82	164	246	328	410	492	574	656	738	820
83	166	249	332	415	498	581	664	747	830
84	168	252	336	420	504	588	672	756	840
85	170	255	340	425	510	595	680	765	850
86	172	258	344	430	516	602	688	774	860
87	174	261	348	435	522	609	696	783	870
88	176	264	352	440	528	616	704	792	880
89	178	267	356	445	534	623	712	801	890
90	180	270	360	450	540	630	720	810	900
91	182	273	364	455	546	637	728	819	910
92	184	276	368	460	552	644	736	828	920
93	186	279	372	465	558	651	744	837	930
94	188	282	376	470	564	658	752	846	940
95	190	285	380	475	570	665	760	855	950
96	192	288	384	480	576	672	768	864	960
97	194	291	388	485	582	679	776	873	970
98	196	294	392	490	588	686	784	882	980
99	198	297	396	495	594	693	792	891	990
100	200	300	400	500	600	700	800	900	1000

In [3]:
start = int(input('Start: '))
end = int(input('End: '))

# print multiplication table
for i in range (start, end+1):
    print('\n\nMultiplication table of %d\n' %(i))
    for j in range(1, 11 ):
        print('%d * %d = %d\t' %(i, j, i*j))

Multiplication table of 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120


Multiplication table of 13

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130


Multiplication table of 14

14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [4]:
num = int(input("Multiplication using value? : "))
 
while num <= 10:
    i = 1
    while i <= num:
        product = num*i
        print(num, " * ", i, " = ", product, "\n")
        i = i + 1
    print("\n")
    num = num + 1
while num <= 10:
    i = 1
    while i <= 10:
        product = num*i
        print(num, " * ", i, " = ", product, "\n")
        i = i + 1
    num = num + 1
    print("\n")

In [5]:
input = int(input("Multiplication using value? : "))
num = 1

while num <= input:
    i = 1
    while i <= input:
        product = num*i
        print(num, " * ", i, " = ", product)
        i = i + 1
    print("")  # no need to add explicit newline character because it is automatically added
    num = num + 1

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10
1  *  11  =  11
1  *  12  =  12
1  *  13  =  13
1  *  14  =  14

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
2  *  13  =  26
2  *  14  =  28

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
3  *  11  =  33
3  *  12  =  36
3  *  13  =  39
3  *  14  =  42

4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48
4  *  13  =  52
4  *  14  =  56

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
5  *  11  =  55
5  *  12  =  60
5  *  13  =  65
5  *  14  =  70

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
6  *  11  =  66
6  *  12  =  72
6  *  13  =  78
6  *  14  =  84

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
7  *  11  =  77
7  *  12  =  84
7  *  13  =  91
7  *  14  =  98

8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
8  *  11  =  88
8  *  12  =  96
8  *  13  =  104
8  *  14  =  112

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
9  *  11  =  99
9  *  12  =  108
9  *  13  =  117
9  *  14  =  126

10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
10  *  11  =  110
10  *  12  =  120
10  *  13  =  130
10  *  14  =  140

11  *  1  =  11
11  *  2  =  22
11  *  3  =  33
11  *  4  =  44
11  *  5  =  55
11  *  6  =  66
11  *  7  =  77
11  *  8  =  88
11  *  9  =  99
11  *  10  =  110
11  *  11  =  121
11  *  12  =  132
11  *  13  =  143
11  *  14  =  154

12  *  1  =  12
12  *  2  =  24
12  *  3  =  36
12  *  4  =  48
12  *  5  =  60
12  *  6  =  72
12  *  7  =  84
12  *  8  =  96
12  *  9  =  108
12  *  10  =  120
12  *  11  =  132
12  *  12  =  144
12  *  13  =  156
12  *  14  =  168

13  *  1  =  13
13  *  2  =  26
13  *  3  =  39
13  *  4  =  52
13  *  5  =  65
13  *  6  =  78
13  *  7  =  91
13  *  8  =  104
13  *  9  =  117
13  *  10  =  130
13  *  11  =  143
13  *  12  =  156
13  *  13  =  169
13  *  14  =  182

14  *  1  =  14
14  *  2  =  28
14  *  3  =  42
14  *  4  =  56
14  *  5  =  70
14  *  6  =  84
14  *  7  =  98
14  *  8  =  112
14  *  9  =  126
14  *  10  =  140
14  *  11  =  154
14  *  12  =  168
14  *  13  =  182
14  *  14  =  196

In [24]:
for  i in range(1, num+1):
    for j in range(1, num+1):
        print(i , "*" , j , "=" , i*j)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [26]:


i=1 #you haven't initialized this variable
while i <=num:
    j=1
    while j <= num:
        product = i*j #updated
        print(i, " * ", j, " = ", product, "\n") #updated
        j = j + 1
    print("\n")
    i = i + 1

1  *  1  =  1

1  *  2  =  2

1  *  3  =  3

1  *  4  =  4

1  *  5  =  5

1  *  6  =  6

1  *  7  =  7

1  *  8  =  8

1  *  9  =  9

1  *  10  =  10

1  *  11  =  11

1  *  12  =  12



2  *  1  =  2

2  *  2  =  4

2  *  3  =  6

2  *  4  =  8

2  *  5  =  10

2  *  6  =  12

2  *  7  =  14

2  *  8  =  16

2  *  9  =  18

2  *  10  =  20

2  *  11  =  22

2  *  12  =  24



3  *  1  =  3

3  *  2  =  6

3  *  3  =  9

3  *  4  =  12

3  *  5  =  15

3  *  6  =  18

3  *  7  =  21

3  *  8  =  24

3  *  9  =  27

3  *  10  =  30

3  *  11  =  33

3  *  12  =  36



4  *  1  =  4

4  *  2  =  8

4  *  3  =  12

4  *  4  =  16

4  *  5  =  20

4  *  6  =  24

4  *  7  =  28

4  *  8  =  32

4  *  9  =  36

4  *  10  =  40

4  *  11  =  44

4  *  12  =  48



5  *  1  =  5

5  *  2  =  10

5  *  3  =  15

5  *  4  =  20

5  *  5  =  25

5  *  6  =  30

5  *  7  =  35

5  *  8  =  40

5  *  9  =  45

5  *  10  =  50

5  *  11  =  55

5  *  12  =  60



6  *  1  =  6

6  *  2  =  12

6  *  3  =  18

6  *  4  =  24

6  *  5  =  30

6  *  6  =  36

6  *  7  =  42

6  *  8  =  48

6  *  9  =  54

6  *  10  =  60

6  *  11  =  66

6  *  12  =  72



7  *  1  =  7

7  *  2  =  14

7  *  3  =  21

7  *  4  =  28

7  *  5  =  35

7  *  6  =  42

7  *  7  =  49

7  *  8  =  56

7  *  9  =  63

7  *  10  =  70

7  *  11  =  77

7  *  12  =  84



8  *  1  =  8

8  *  2  =  16

8  *  3  =  24

8  *  4  =  32

8  *  5  =  40

8  *  6  =  48

8  *  7  =  56

8  *  8  =  64

8  *  9  =  72

8  *  10  =  80

8  *  11  =  88

8  *  12  =  96



9  *  1  =  9

9  *  2  =  18

9  *  3  =  27

9  *  4  =  36

9  *  5  =  45

9  *  6  =  54

9  *  7  =  63

9  *  8  =  72

9  *  9  =  81

9  *  10  =  90

9  *  11  =  99

9  *  12  =  108



10  *  1  =  10

10  *  2  =  20

10  *  3  =  30

10  *  4  =  40

10  *  5  =  50

10  *  6  =  60

10  *  7  =  70

10  *  8  =  80

10  *  9  =  90

10  *  10  =  100

10  *  11  =  110

10  *  12  =  120



11  *  1  =  11

11  *  2  =  22

11  *  3  =  33

11  *  4  =  44

11  *  5  =  55

11  *  6  =  66

11  *  7  =  77

11  *  8  =  88

11  *  9  =  99

11  *  10  =  110

11  *  11  =  121

11  *  12  =  132



12  *  1  =  12

12  *  2  =  24

12  *  3  =  36

12  *  4  =  48

12  *  5  =  60

12  *  6  =  72

12  *  7  =  84

12  *  8  =  96

12  *  9  =  108

12  *  10  =  120

12  *  11  =  132

12  *  12  =  144

In [27]:
for i in range(1, num+1):
    for j in range(1, num+1):
        print(f'{i} * {j} = {i*j}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [28]:
i = 1

while i<=10:
    print(num, "X", i, "=", num * i)
    i = i+1

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [1]:
for x in range(1, 11):
    for y in range(1, 11):
        print(x*y , end = "\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [47]:
# print numbers from 1 to 100 without using a loop

def num(n,l):
    if(n<l):
        print(n)
        print(n+1, l)
num(1200, 120000)

1200
1201 120000

In [51]:
# Python program to print from 1 to N using
# indirect recursion
# We can avoid use of these using references
N = 20;
n = 1;
# Prints n, increments n and calls fun1()
def fun1():
    global N, n;
    if (n <= N):
        print(n, end = " ");
        n += 1;
        fun2();
    else:
        return;
# Prints n, increments n and calls fun2()
def fun2():
    global N, n;
    if (n <= N):
        print(n, end = " ");
        n += 1;
        fun1();
    else:
        return;
# Driver Program
if __name__ == '__main__':
    fun1();

1

Slicing

In [14]:
list = ['Data',20, 'Science',10, 'With',30, 'Python',40,20, 50 ,10, 60, 30, 80 ,100]
for i in list[1:]:
    print(i , end=" ")

20 Science 10 With 30 Python 40 20 50 10 60 30 80 100