In [1]:
import cx_Oracle

In [2]:
con = cx_Oracle.Connection('system/tiger@localhost:1521/xe')

In [3]:
cursor = con.cursor()

In [6]:
cursor.execute("CREATE TABLE products (product_id int NOT NULL PRIMARY KEY, product_name VARCHAR2(255),  category_id INT, unit VARCHAR2(255), price DECIMAL(10, 2))")

In [26]:
cursor.execute("create table students (id number not null, st_name varchar(25) not null, dob timestamp not null, studentid NUMBER NOT NULL, primary key(id), unique(st_name , dob), unique(studentid))")

In [47]:
cursor.execute("insert into students values(2,'kumar',to_timestamp('06-aug-12 12:23:33.45 am'), 125)" )
print(cursor)

<cx_Oracle.Cursor on <cx_Oracle.Connection to system@localhost:1521/xe>>

In [12]:
for i in cursor.execute("select count(*) from products"):
    print(i)

(51,)

In [50]:
cursor.execute("select * from students")
cursor.execute(" SELECT getdate()-1 AS Yesterday,getdate() AS Today, getdate()+1 AS Tomorrow ")
print(cursor.execute('commit'))

None