                 Oracle Database connection

                      these  are table

create table gift_store(   
product_id   INTEGER NOT NULL, 
product_name VARCHAR(20),  
product_qty INTEGER,  
cost_price FLOAT,  
sell_price FLOAT,  
shop_status VARCHAR(20));

In [7]:
import cx_Oracle

con = cx_Oracle.connect(
    user="system", 
    password="tiger",
    dsn="localhost/xe"
)

In [8]:
# establish Connection
con = cx_Oracle.Connection('system/tiger@localhost:1521/xe')
# check your oracle version
print(con.version)

11.2.0.2.0

Cursor is the database object that helps in retrieving the data from the oracle database. Once object is created you use execute method of cursor to put the query.

In [10]:
#create cur object
cur =con.cursor()

In [16]:
cur.execute("create table gift_store(  product_id  int NOT NULL,product_name VARCHAR(20),product_qty int,cost_price FLOAT,sell_price FLOAT,shop_status VARCHAR(20))")

insert  into gift_store values (1, 'toy gun', 1, 18.0, 20.0, 'open') <br>
insert into gift_store values(2, 'doll', 1, 10.0, 12.0, 'open') <br>
insert into gift_store values(3, 'drum', 3, 30.0, 40.0, 'open')<br>
insert into gift_store values(4, 'guitar', 1, 150.0, 155.0, 'open') <br>
insert into gift_store values(5, 'skipping rope', 5, 90.0, 100.0, 'open')<br>
insert  into gift_store values(6, 'toy crossbow', 1, 150.0, 170.0, 'open')<br>
insert  into gift_store values(7, 'chess board', 1, 7.0, 10.0, 'open') <br>
insert into gift_store values(8, 'no sale', 0, 0.0, 0.0, 'closed')  <br>

In [22]:
cur.execute("insert  into gift_store values (1, 'toy gun', 1, 18.0, 20.0, 'open')")

cur.execute("insert into gift_store values(2, 'doll', 1, 10.0, 12.0, 'open') ")

In [32]:
# query to fetch all records
cur.execute("select product_id,  product_name  from gift_store")
for i in cur:
    print(i)

(1, 'toy gun')
(1, 'toy gun')
(2, 'doll')
(3, 'drum')
(4, 'guitar')
(5, 'skipping rope')
(6, 'toy crossbow')
(7, 'chess board')
(8, 'no sale')
(1, 'toy gun')
(1, 'toy gun')
(2, 'doll')

In [30]:
qry = 'select * from gift_store where product_qty > 1'
# pass the query in the cursor execute function
cur.execute(qry)

In [38]:
# fetchmany(int) is used to fetch limited number of records from result set based on integer argument passed in it
cur.execute('select * from gift_store')
rows = cur.fetchone()
print(rows)

(1, 'toy gun', 1, 18.0, 20.0, 'open')

In [31]:
# fetch all the rows
res = cur.fetchall()
for row in res:
    print(row)

(3, 'drum', 3, 30.0, 40.0, 'open')
(5, 'skipping rope', 5, 90.0, 100.0, 'open')

In [33]:
# use fetchmany() method to display 4 records
res = cur.fetchmany(4)
# print records in a row
for row in res:
    print(row)

In [39]:
# using fetchone() method
cur.execute('select * from gift_store')
res = cur.fetchone()

# displying each item in a row (optional)
for row in res:
    print(row)

1
toy gun
1
18.0
20.0
open

In [40]:
# calculating total pofit
qry = '''SELECT SUM(sell_price - cost_price) AS "Total profit" FROM gift_store  '''

# executing cursor
cur.execute(qry)

# using fetchall() method
res = cur.fetchall()

# printing data in a row
for row in res:
    print(row)

(60,)